/*===============START GLOBAL===============*/
@font-face {
    font-family: 'Bitter';
    src: url('../font/Bitter-Bold.eot');
    src: url('../font/Bitter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Bitter-Bold.woff2') format('woff2'),
        url('../font/Bitter-Bold.woff') format('woff'),
        url('../font/Bitter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #c7c7c7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 0rem 7rem 5rem 7rem;
}

h1,
h2,
h3 {
    font-family: Bitter,
        Georgia,
        'Times New Roman',
        Times,
        serif;
    font-weight: bold;
}

h1 {
    font-size: 5em;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h2,
h3 {
    color: #e40016;
}

p {
    text-align: left;
}

p a {
    color: #e40016;
    font-weight: 600;
}

/*===============END GLOBAL===============*/

/*===============START TABLE===============*/
table {
    border-spacing: 0;
    margin-bottom: 1%;
}

table thead tr {
    background-color: #363636;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 0px;
}

table thead th {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

table tbody th {
    padding: 0.8rem 1rem 0.8rem 1rem;
}

table tbody {
    cursor: pointer;
}

table tbody tr:nth-child(odd) {
    background-color: #dcdcdc;
}

table tbody tr:hover {
    background-color: #989898;
}

/*===============END TABLE===============*/

/*===============START FIGURE===============*/
.cadre-figure {
    background-color: #363636;
    border-radius: 10px;
    border: solid 3px #e40016;
    padding: 20px 0px;
}

figure {
    color: #ffffff;
}

figure img {
    width: 100%;
}

figcaption {
    margin-top: 2%;
    font-size: large;
    font-weight: 600;
    text-align: center;
}

/*===============END FIGURE===============*/

blockquote {
    margin-bottom: 2%;
}

/*===============START OTHER CLASS===============*/

.well {
    border: dashed 3px #6008b0;
    margin: 1rem;
    padding: 0rem 1.8rem 0rem 1.8rem;
    background-color: #b6b6b6;
    color: #6008b0;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.affich-code {
    background-color: #dcdcdc;
    padding: 2rem;
}